{{#*inline "page"}}
<a href="/periods/0/edit">New Period</a>
<h4>Period:</h4>
{{#if flash}}
<div class="text-danger">{{flash}}</div>
{{/if}}
<ul>
    {{#each model}}
    <li>
        <a href="/periods/{{id}}">{{name}}</a>
    </li>
    {{/each}}
</ul>
{{/inline}}{{~> layout ~}}