{{#*inline "page"}}
<h4>Create a new category!</h4>
{{#if flash}}
<div class="text-danger">{{flash}}</div>
{{/if}}
<form class="form" method="POST" action="/categories/{{model.id}}/edit">
    <input type="hidden" name="id" id="id" value="{{model.id}}" />
    <div class="form-group">
        <label for="name">
            Name
        </label>
        <input name="name" id="name" value="{{model.name}}" placeholder="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{{/inline}}{{~> layout ~}}