<!doctype html>
<html>

<head>
    <title>Index</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">
        <h4>Posts:</h4>
        {{#if flash}}
        <div class="text-danger">{{flash}}</div>
        {{/if}}
        <ul>
            {{#each posts}}
            <li><a href="/posts/{{id}}">{{title}}</a></li>
            {{/each}}
        </ul>
    </div>
</body>

</html>