{{#*inline "page"}}
<a href="/transactions/0/edit">New Transaction</a>
<h4>Transactions:</h4>
{{#if flash}}
<div class="text-danger">{{flash}}</div>
{{/if}}
<ul>
    {{#each model}}
    <li>
        <a href="/transactions/{{id}}/edit">{{description}}</a>
    </li>
    {{/each}}
</ul>
{{/inline}}{{~> layout ~}}